h1{
  font-family: 'Ubuntu', sans-serif;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #EDEDED;
}

hr{
  border: dotted #c1c2b8 9px;
  border-bottom: none;
  width: 7.5vw;
  margin: 75px auto;
}

p{
  margin: 0;
}

.skills-image{
  width: 37.5%;
  margin: 0 2.5%;
}

.learned-image{
  width: 45%;
  margin: 0 2.5%;
}
